

<!-- <input id="myField" class="custom-address-autocomplete-input" [(ngModel)]="value" matInput [matAutocomplete]="auto"  /> -->
 <input #searchfield class="custom-address-autocomplete-input" [(ngModel)]="value" />

<!-- <div *ngFor="let item of options">
    <div (click) = "onClick(item)">
            {{ item }} 
    </div>
</div> -->
<!-- <mat-autocomplete class="sfsuuportcustom" #auto="matAutocomplete">
    <div class="sfsuppwrapper">
        <mat-option class="sfsuuportcustom" *ngFor="let item of options" [value]="item">
                {{ item }}
            </mat-option>
    </div>
</mat-autocomplete> -->

<!-- <h1 *ngFor="let item of searchResult">{{item}}</h1> -->


